version: 2.1
# executors:
#   core-executor:
#     docker:
#       - image: 'cimg/node:17.9.1'
commands:
  save-npm-cache:
    description: "save folder node modules"
    steps:
      - save_cache:
          key: -v2-{{ .Branch }}-{{ checksum "package-lock.json" }} 
          paths:
            - node_modules
  restore-npm-cache:
    description: "restore folder node modules"
    steps:
      - restore_cache:
          keys:
            - -v2-{{ .Branch }}-{{ checksum "package-lock.json" }} 
            - -v2-


jobs:
  # install task
  install:
    docker:
      - image: cimg/node:17.9.1
    steps:
      - checkout
      - restore-npm-cache
      - run: npm install
      - save-npm-cache
    

  # check code formating
  eslint:
    docker:
      - image: cimg/node:17.9.1
    # executors: core-executor
    steps:
      - checkout
      - restore-npm-cache
      - run: npm run eslint
      # - run: npm run eslint -- --fix


  # testing task
  unit-test:
    docker:
      - image: 'cimg/node:17.9.1'
    # executors: core-executor
    steps:
      - checkout 
      - restore-npm-cache
      - run: npm run test


  # Deploy with Surge task
  deploy:
    docker:
      - image: cimg/node:17.9.1
    # executors: core-executor
    steps:
      - checkout
      - restore-npm-cache
      - run: npm run build
      - run:
          name: Deploy to surge
          command: ./node_modules/surge/lib/cli.js --project ./build --domain bozuman-usdtovnd.surge.sh



workflows:
  build-and-deploy:
    triggers:
      - schedule:
          cron: "* * * * *"
          filters:
            branches:
              # only: 
              #   - demo # ưu tiên only
              ignore:
                - demo
                - master
    jobs:
      - install
      - eslint:
          requires:
            - install
      - unit-test:
          requires:
            - install
      - deploy:
          requires:
            - eslint
            - unit-test
  
